TDX_STOCK_WEB_IMAGE=tdx-api-stock-web:invest-grade-fixed
TDX_DATA_DIR=./data/database
# Local process startup: use an absolute host path when incon.dat is not under the default search paths.
TDX_INCON_PATH=
COLLECTOR_TRADE_BOOTSTRAP_START=20190101
COLLECTOR_LIVE_BOOTSTRAP_START=20190101
